.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.bg-color{

    background-color: #C6E4D6;
    color: #C6E4D6;
    padding: 60px;
    margin: 120px 160px 80px 160px;
    display: flex;
    border-radius: 24px;
    justify-content: space-around;
    align-items: center;
    border-radius: 24;
    border: none;

}

.header-title{
    font-weight: 500px;
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
}
.header-sub-title{
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
}
.btn{
    padding: 34px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    margin-bottom: 117px;
    font-weight: 500px;
    font-size: 18px;
    color: white;
}


